* {
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
}
html,
body,
main {
  height: 100%;
}
.img1 {
  min-height: 100%;
  background-image: url("img1.jpg");
}
.img2 {
  min-height: 100%;
  background-image: url("img2.jpg");
}
.img3 {
  min-height: 100%;
  background-image: url("img3.jpg");
}

.img1,
.img2,
.img3 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.content1 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}
span {
  background-color: rgb(47, 47, 47);
  padding: 20px;
  font-size: 30px;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.one {
  text-align: center;
  padding: 10px;
  padding: 50px 80px;
}
.two {
  text-align: center;
  padding: 10px;
  padding: 50px 80px;
}
.three {
  text-align: center;
  padding: 10px;
  padding: 50px 80px;
}